<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://www.pngmart.com/files/10/Netflix-N-Logo-PNG-File.png" width="90" height="50" alt="logo netfleet">
            Netfleet
        </a>
    </nav>
</header>