{% extends 'base.html.twig' %}

{% block title %}Netfleet - Bienvenue{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="h2">Bienvenue sur Netfleet !</h1>

        <h2 class="h4 mb-5">Découvrez nos 5 dernières nouveautés :</h2>

        <div class="row">
            {% for media in medias %}
                <div class="col-4">
                    <div class="card my-2" style="width: 18rem;">
                        <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ media.nom }}</h5>
                            <p class="card-text"><small class="text-muted">{{ media.type }}</small></p>
                            <p class="card-text">Synopsis : {{ media.synopsis }}</p>

                            <p class="card-text"><small class="text-muted">Ajouté le {{ media.createdAt|date("d/m/Y") }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
